* {margin:0;padding:0}
html,body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
}

h1{
    text-align: center;
    padding: 2%;
}

a:link, a:visited {
    background-color: #00613e;
    color: silver;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #00750e;
}